<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src&quot;,&quot;THEME&quot;:&quot;designer&quot;}">
</head>
<body>
<vaadin-vertical-layout style-name="h2" spacing="true" size-full="true" margin="true" _id="vert">
    <vaadin-grid-layout _id="withImage">
        <row>
            <column>
                <vaadin-image source="theme://img/Gnome-Dialog-Information-32.png" _id="img" :bottom="" :right=""></vaadin-image>
            </column>
            <column>
                <vaadin-label size-auto="true" _id="l1" :bottom="" :right="">
                    <font style="font-family: Aharoni;" size="+2">Medcognize<font style="color: rgb(204, 0, 0);" size="-0"><sup>BETA</sup></font></font>
                </vaadin-label>
            </column>
        </row>
    </vaadin-grid-layout>
    <vaadin-label size-auto="true" _id="l2">
        <span style="color: rgb(117, 117, 117);">Track and Recognize your medical spending</span>
    </vaadin-label>
    <vaadin-menu-bar style-name="borderless" plain-text="" _id="menu"></vaadin-menu-bar>
    <vaadin-vertical-layout primary-style-name="v-verticallayout" width="600px" _id="body">
        <vaadin-label style-name="h2" size-full="true" _id="top">
            <div align="center">
                Track your medical spending and insurance claims. For free. Get back everything you're owed.
            </div>
        </vaadin-label>
        <vaadin-button style-name="friendly" plain-text="" _id="registerButton" :middle="" :center="">
            Sign up now for free
        </vaadin-button>
        <vaadin-label primary-style-name="v-label
" style-name="h3" responsive="true" size-full="true" _id="middle">
            <div align="center">
                Tired of the insurance company or your FSA owing you money. Tired of having to stay on top of lots of individual transactions at different stages of completion. Medcognize it. Enter your medical expenses and we will help you manage the entire process.
            </div>
        </vaadin-label>
        <vaadin-label style-name="h3" responsive="true" size-full="true" _id="bottom">
            <div align="center">
                To begin, you need to register. Once you have your login and password, you can enter your health plan details and begin tracking your medical expenses.
                <a href="http://www.medcognize.com/#!register">Register</a> and get started immediately.
            </div>
        </vaadin-label>
    </vaadin-vertical-layout>
    <vaadin-vertical-layout primary-style-name="v-verticallayout" spacing="true" size-auto="true" margin="true" _id="spacer" :expand=""></vaadin-vertical-layout>
    <vaadin-horizontal-layout primary-style-name="v-horizontallayout" spacing="true" _id="bottomLinks">
        <vaadin-button style-name="link" _id="termsLink">
            <font size="1">Terms of Service</font>
        </vaadin-button>
    </vaadin-horizontal-layout>
</vaadin-vertical-layout>
</body>
</html>